
.blue {
  background-color: #00aacb;
}

.green {
  background-color: #7ed097;
}

.red {
  background-color: #f25b4c;
}

.yellow {
  background-color: #ffe131;
}

.gray {
  background-color: lightgray;
}

.logo_card {
  width: 20px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 50%;
}

.underline_container {
  text-align: center;
  width: 201px;
  margin: 0 auto;
}

.logo_container {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 7%;
}

.logo_text {
  text-align: center;
  width: 200px;
  font-family: helvetica;
  font-size: 60px;
  font-weight: 200;
  padding-top: 2%;
  margin: 0 auto;
}

#login{
  border-radius: 7px;
  background-color: #efefef;
  text-align: center;
  width: 300px;
  padding-top: 2%;
  padding-bottom: 3%;
  margin: 0 auto;
}

#user_name{
  margin-top: 10px;
  width: 210px;
  height: 25px;
  font-size: 17px;
}

button{
  font-size: 16px;
  width: 218px;
  height: 29px;
  font-family: helvetica;
  font-weight: 200;
  border: none;
  border-radius: 3px;
  background-color: lightgray;
}

body {
  font-family: "Helvetica";
  font-weight: 200;
}

.num_of_players {
  font-size: 19px;
  margin-bottom: 18px;
}

#next{
  display: none;
  width: 550px;
  margin: 0 auto;
  clear: both;
  height: 480px;
  padding: 5px;
  overflow: scroll;
}

#createGame{
  display: inline-block;
  float: left;
}

#gameInfo{
  font-size: 19px;
  font-family: helvetica;
  font-weight: 200;
  float: right;
}

#help{
  margin-left: 182px;
  font-size: 16px; 
  margin-top: 3%;
}
