#UNO_Table{
	width:100%;
	height: 860px;
	background-color: #FADED4;
	border-radius: 15px;
}

#Table_information{
	height: 400px;
	padding: 15px;
}

#user_card_information{
	background-color: #E8B4A2;
	border-radius: 15px;
	padding: 7px;
	height: 375px;
	margin-left: 10px;
    width: 23%;
    display: inline-block;
    overflow: scroll;
}

.user_cards{
	height: 250px;
    padding: 5px;
    padding-top: 15px;
    float: left;
}

#deck{
	height: 360px;
}

#table_deck{
    width: 50%;
    margin-left: 18px;
    display: inline-block;
    height: 400px;
    border:1px solid;
    border-radius: 15px
}

.gaurav{
	background-color:red; 
}

#message_box{
	background-color: #E8B4A2;
	border-radius: 15px;
	padding: 7px;
	border-spacing: 50px;
	margin-left: 20px;
    height: 377px;
    display: inline-block;
    width: 20%;
    overflow: scroll;
    font-size: 24px;
}

#cards{
	background-color: #E8B4A2;
	border-radius: 15px;
	height: 350px;
    width: 100%;
    margin-top: 22px;
    overflow: scroll;
}

#user_selection{
	height: 60px;
    width: 100%;
}

#change_colour_menu{
	display: inline-block;
	margin-top: 34px;
}

#draw_pile_deck{
	margin-top: 26px;
	display: inline-block;
	margin-left: -30px;
	width: 47%;
	height: 320px;
}

#discard_pile_deck{
	float: right;
	margin-top: 29px;
	margin-left: 20px;
    display: inline-block;
    width: 47%;
    height: 300px;
}

#say_and_catch_uno{
	 height: 45px;
	 margin: 5px,0px,5px,0px;
}

#catch_UNO{
	height: 30px;
	width: 150px;
	font-size: 17px;
}

#say_UNO{
	margin-left: 35px;
	height: 22px;
	width: 100px;
	font-size: 15px;
}

#change_colour_menu{
	margin-left: 20px;
}

#colour_group{
	width: 75px;
	font-size: 22px;
}

#submit_colour{
	height: 22px;
	width: 100px;
	font-size: 15px;
}

#draw_pile{
	margin-left: 150px;
}

#change_turn{
	margin-left: 20px;
	height: 22px;
	width: 120px;
	font-size: 15px;
}	

#discard_pile{
	margin-top: 25px;
	height:300px;
	margin-left: 50px;
}

#table, th ,td{
	font-size: 24px;
	border-collapse: collapse;
	border: 1px solid black ; 
}

.hidden{
	visibility: hidden;
}