body{
	margin: 30px;
}

#say_UNO{
	margin-left: 1100px;
	margin-bottom : 30px;
	height: 30px;
	width: 80px;
	background-color: #CCCCFF; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
	color: white;
	font-size: 13px;
	border-radius: 23px;
	border-color: #6699FF;
}

#catch_UNO{
	height: 30px;
	width: 100px;
	background-color: #CCCCFF;
	margin-left: 7px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
	color:white;
	font-size: 13px;
	border-radius: 23px;
	border-color: #6699FF;
}

#draw{
	height: 30px;
	width: 80px;
	background-color: #CCCCFF;
	margin-left: 7px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
	color: white;
	font-size: 13px;
	border-radius: 23px;
	border-color: #6699FF;
}

#table{
	margin-left: 1100px;
}

#submit{
	position: absolute;
    margin-left: 1175px;	
    margin-bottom: 10px;
	width :100px;
	border:4px solid #0F5F24 ;
	-webkit-box-shadow: #878787 0px 2px 2px ;
	box-shadow: #878787 0px 2px 2px ;
	-webkit-border-radius: 23px; 
	border-radius: 23px;
	font-size:13px;font-family:arial, helvetica, sans-serif; 
	padding: 10px 20px 10px 20px;
	text-decoration:none;
	display:inline-block;
	text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
	font-weight:bold; 
	color: #FFFFFF;
 	background-color: #40E86D; 
 	background-image: -webkit-gradient(linear, left top, left bottom, from(#40E86D), to(#0F7229));

}

#draw_pile{
	width:10%;
}

#discard_pile{
	width : 145px;
	position: relative;
    margin-left: 70px;
}

#User_Cards_Name{
	position: relative;
	margin-top: 15px;
}

#my_cards{
    position: relative;
    margin-top: 20px;
}

#current_player{
	position: relative;
    margin-left: 1100px;
}

#next_player{
	position: relative;
    margin-left: 1100px;
}

#previous_player{
	position: relative;
    margin-left: 1100px;
}

#running_colour{
	position: relative;
    margin-left: 1100px;
}

.hide{
	visibility: hidden;
}