#UNO_Table{
	width:100%;
	height: 910px;
}

#Table_information{
	height: 400px;
    overflow: scroll;
}

#user_card_information{
	height: 400px;
    width: 25%;
    display: inline-block;
    overflow: scroll;
}

#table_deck{
    width: 50%;
    display: inline-block;
    height: 400px;
    overflow: scroll;
}

#message_box{
    height: 400px;
    display: inline-block;
    width: 24%;
    overflow: scroll;
}

#cards{
	height: 510px;
    width: 100%;
}

#user_selection{
	height: 60px;
    width: 100%;
}

#change_colour_menu{
	display: inline-block;
	margin-top: 34px;
}

#draw_pile_deck{
	margin: 1%;
	display: inline-block;
	width: 47%;
	height: 340px;
}

#discard_pile_deck{
	float: right;
    margin: 1%;
    display: inline-block;
    width: 47%;
    height: 340px;
}

#say_and_catch_uno{
	 height: 45px;
	 margin: 5px,0px,5px,0px;
}

#catch_UNO{
	margin-left: 280px;
	margin-top: 3px;
	height: 30px;
	width: 150px;
	font-size: 17px;
}

#say_UNO{
	height: 22px;
	width: 100px;
	font-size: 15px;
}

#change_colour_menu{
	margin-left: 20px;
}

#colour_group{
	width: 75px;
	font-size: 22px;
}

#submit_colour{
	height: 22px;
	width: 100px;
	font-size: 15px;
}

#change_turn{
	margin-left: 20px;
	height: 22px;
	width: 120px;
	font-size: 15px;
}

.hidden{
	visibility: hidden;
}