body{
	font-size: 18px;
    font-weight: 100;
    font-family: helvetica;
    width: 99%;
}

.unoText{
	text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-family: helvetica;
    font-weight: 400;
}

#change_colour_menu{
	margin-left: 18px;
}

#colour_group{
	height: 37px;
	width: 100px;
	font-size: 22px;
}

#submit_colour{
	margin-top: 12%;
	margin-left: -10%;
}

.hidden{
	visibility: hidden;
}

.Red{
	background-color: #f25b4c;
}

.Blue{
	background-color: #00aacb;
}

.Green{
	background-color: #7ed097;
}

.Yellow{
	background: #ffe131;
}

/*.unoInfoOnMsgBox{
	color: green;
}*/

#change_turn{
	margin-top: 24%;
	margin-left: 6px;
}

button{
	font-size: 16px;
	width: 137px;
	height: 29px;
	font-family: helvetica;
	font-weight: 200;
	border: none;
	border-radius: 3px;
	background-color: lightgray;
	margin-bottom: 10px;
}

button:hover{
	cursor: pointer;
	transform:scale(1.1);
}

.lightgray{
	background-color: #b2b2b2;
}

.myCards {
	text-align: center;
	height: 165px;
    width: 126px;
    font-size: 65px;
    color: white;
    border-radius: 10px;
    font-family: helvetica;
    font-weight: 400;
    display: inline-block;
    position: inline;
}

.myCards div{
	margin-top: 30px;
}

.myCards:hover{
	cursor: pointer;
	transform: scale(1.1);
}

#run_colour{
	width: 300px;
	float: left;
	margin-left: 130px;

}

#RunningColorContainer {
	color: white;
	border-radius: 4px;
	padding: 5px;
	display: inline-block;
	text-align: center; 
}

#runningColour {
	margin-top: 3%;
	margin-left: 14%;
	display: inline-block;
}

.player{
	height: 103%;
    width: 200px;
}

.top_five{
	position:absolute;
	width: 98%;
    height: 27%;
    margin-left: 3%;
    display: none;
}

#player_1{
	position: absolute;
	display: inline-block;
}

#player_2{
	margin-left: 20%;
	position: absolute;
	display: inline-block;
}
#player_3{
	margin-left: 40%;
	position: absolute;
	display: inline-block;
}

#player_4{
	position: absolute;
	display: inline-block;
	margin-left: 60%;
}

#player_5{
	position: absolute;
	display: inline-block;
	margin-left: 80%;
}

.hidden{
	visibility: hidden;
}

.section{
	height: 99%;
	width: 99%;
	position: absolute;
}

#single_user{
	border-radius: 12px;
	width: 41%;
	height: 32%;
	position: absolute;
	margin-left: 30%;
	margin-top: 3%;

}

#multi_user{
	border-radius: 12px;
	width: 41%;
	height: 250px;
	position: absolute;
	margin-left: 30%;
	margin-top: 17%;
	background-color: lightgray;
}

.running_color{
	position: absolute;
	font-size: 20px;
	width: 90%;
	text-align: center;
	margin-top: 2%;
	margin-left: 10%;
}

.running_color div{
	display: inline-block;
	height: 10%;
	background-color: #f25b4c;
	border-radius: 4px;
}
.pile{
	width: 57%;
	height: 57%;
	margin-top: 8%;
	margin-left: 22%;
	position: absolute;
}

.discard_pile{
	height: 100%;
	margin-left: 55%;
	position: absolute;
}

.draw_pile{
	margin-left: 57%;
	height: 165px;
    width: 131px;
    border-radius: 10px;
	background-color: gray;
	position: absolute;
	font-size: 50px;
	color: white
}

.pile_name{
	position: absolute;
	margin-top: 38%;
	margin-left: 23%;
	width: 56%;
	height: 5%;
	font-size: 20px;
}

.draw_pile_name{
	position: absolute;
	margin-left: 208px;
}

.discard_pile_name{
	margin-left: 2px;
	position: absolute;
}

.single_user_cards{
	width: 78%;
	height: 28%;
	position: absolute;
	margin-left: 10%;
	margin-top: 32%;
	overflow: scroll;
	border: 1px solid;
	border-radius: 20px;
}

.multi_user_cards{
	width: 74%;
	height: 28%;
	position: absolute;
	margin-top: 36%;
	margin-left: 13%;
	overflow: scroll;
	border: 1px solid;
	border-radius: 20px;
}

#user_cards{
	text-align: center;
}

#user_cards > div{
	margin-top: 2%;
	margin-left: 2%;
	display: inline-block;
	text-align: center;
}

#my_button{
	width: 12%;
	height: 30%;
	position: absolute;
	margin-left: 89%;
	margin-top: 32%;
}

#multi_button{
	width: 12%;
	height: 30%;
	position: absolute;
	margin-left: 88%;
	margin-top:38%;
}

.button_container div{
	background-color: white;
	width: 75%;
	height: 13%;
	font-size: 22px;
	text-align: center;
	margin: 4%;
}

.Gray{
	background-color: black;
}

.close_face{
	height:146px;
    width: 133px;
	border-radius: 10px;
	margin-left: 34px;
	position: absolute;
	background-color: gray;
	color: white;
}

.other_name{
	background-color: lightgray;
	width: 200px;
	height:35px;
	margin-top: 185px;
	border-radius: 7px;
	text-align: center;
}