body{
	/*margin: 0 auto;*/
	/*width: 98%;*/
	font-size: 18px;
    font-weight: 100;
    font-family: helvetica;
}

#UNO_Table{
	margin: 0 auto;
	width:98%;
	padding: 15px;
}

#Table_information{
	height: 270px;
	/*width: 95%;
	margin: 0 auto;*/
}

.user_cards{
	height: 180px;
    padding: 5px;
    padding-top: 10px;
    color: black;
    display: inline-block;
}

#table_deck{
    font-weight: 200;
    text-align: center;
    width: 800px;
    display: inline-block;
    height: 260px;
    border-radius: 15px;
    margin-left: 23%;
}

#message_box{
	border-radius: 15px;
	padding: 10px;
	border-spacing: 50px;
    height: 245px;
    display: inline-block;
    width: 200px;
    overflow: scroll;
    font-size: 18px;
    font-weight: 200;
    font-family: helvetica;
    text-align: center;
}

#cards{
	text-align: center;
	border-radius: 15px;
	width: auto;
    height: 300px;
    overflow: scroll;
    padding: 10px;
    margin:1%; 
}

#user_selection{
	margin-left: 210px;
	height: 20px;
    width: 95%;
    padding: 15px;
}

#change_colour_menu{
	display: inline-block;
	margin-left: 490;
}

.unoText{
	text-align: center;
    padding-top: 30px;
    font-size: 90px;
    font-family: helvetica;
    font-weight: 400;
}

#draw_pile_deck{
	margin-top: 20px;
	margin-bottom: 7px;
	border-radius: 10px;
	display: inline-block;
	float: left;
	margin-left: 207px;
	width: 130px;
	height: 181px;
	color: white;
	background-color: gray;
}

#discard_pile_deck{
	float: right;
	margin-top: 20px;
	margin-right: 262px;
    display: inline-block;
}

#say_and_catch_uno{
	width: auto;
	display: inline-block;
	margin-left: 15px;
}

#catch_UNO{
	height: 27px;
	width: 137px;
	font-size: 16px;
	margin-left: 57px;
	border-radius: 3px;
	margin-right: 37px;

}

#say_UNO{
	margin-left: 20px;
	height: 27px;
	width: 137px;
	font-size: 16px;
	border-radius: 3px;
}

#change_colour_menu{
	margin-left: 18px;
}

#colour_group{
	height: 37px;
	width: 100px;
	font-size: 22px;
}

#submit_colour{
	height: 28px;
	width: 140px;
	font-size: 17px;
}

.hidden{
	visibility: hidden;
}

.Red{
	background-color: #f25b4c;
}

.Blue{
	background-color: #00aacb;
}

.Green{
	background-color: #7ed097;
}

.Yellow{
	background: #ffe131;
}

.unoInfoOnMsgBox{
	color: green;
}

#change_turn{
	margin-left: 10px;
}

button{
	font-size: 16px;
	width: 137px;
	height: 29px;
	font-family: helvetica;
	font-weight: 200;
	border: none;
	border-radius: 3px;
	background-color: lightgray;
}

.lightgray{
	background-color: gray;
}

.myCards {
	text-align: center;
	margin: 0 auto;
	height: 180px;
    width: 130px;
    font-size: 90px;
    color: white;
    border-radius: 10px;
    font-family: helvetica;
    font-weight: 400;
    display: inline-block;
}

#run_colour{
	/*display: inherit;*/
	width: 300px;
	float: left;
	margin-left: 200px;

}

#RunningColorContainer {
	color: white;
	border-radius: 4px;
	padding: 5px;
	display: inline-block;
	text-align: center; 
}

#runningColour {
	display: inline-block;
}


#num{
	padding-top: 30px;
}

.playerList{
	color : gray;
}

.current_player{
	color: black;
	font-size: 20px;
}

audio:not([controls]) {
    display: none;
}

audio {
    width: 300px;
    height: 30px;
}