body{
	margin: 0 auto;
	width: 98%;
	font-size: 18px;
    font-weight: 100;
    font-family: helvetica;
}

#UNO_Table{
	margin: 0 auto;
	width:98%;
	padding: 15px;
}

#Table_information{
	height: 250px;
	width: 95%;
	margin: 0 auto;
}

/*#user_card_information{
	border-radius: 15px;
	padding: 10px;
	height: 245px;
    width: 24%;
    display: inline-block;
    overflow: scroll;
    font-size: 18px;
    font-weight: 100;
    font-family: helvetica;
    text-align: center;
}*/

.user_cards{
	height: 170px;
    padding: 5px;
    padding-top: 10px;
    color: black;
    display: inline-block;
}

#table_deck{
	/*font-size: 18px;*/
    font-weight: 200;
    /*font-family: helvetica;*/
    text-align: center;
    width: 46%;
    display: inline-block;
    height: 250px;
    border-radius: 15px;
    margin-left: 23%;
}

#message_box{
	border-radius: 15px;
	padding: 10px;
	border-spacing: 50px;
    height: 245px;
    display: inline-block;
    width: 27%;
    overflow: scroll;
    font-size: 18px;
    font-weight: 200;
    font-family: helvetica;
    text-align: center;
}

#cards{
	text-align: center;
	border-radius: 15px;
	width: auto;
    height: 300px;
    overflow: scroll;
    padding: 10px;
    margin:1%; 
}

#user_selection{
	margin-left: 210px;
	height: 20px;
    width: 95%;
    padding: 15px;
}

#change_colour_menu{
	display: inline-block;
	margin-left: 490;
}

#draw_pile_deck{
	margin-top: 8px;
	display: inline-block;
	margin-left: 120px;
}

#discard_pile_deck{
	float: right;
	margin-top: 6px;
	margin-right: 80px;
    display: inline-block;
}

#say_and_catch_uno{
	width: auto;
	display: inline-block;
	margin-left: 37px;
}

#catch_UNO{
	height: 27px;
	width: 137px;
	font-size: 16px;
	margin-left: 57px;
	border-radius: 3px;
	margin-right: 37px;

}

#say_UNO{
	margin-left: 20px;
	height: 27px;
	width: 137px;
	font-size: 16px;
	border-radius: 3px;
}

#change_colour_menu{
	margin-left: 18px;
}

#colour_group{
	width: 75px;
	font-size: 22px;
}

#submit_colour{
	height: 28px;
	width: 140px;
	font-size: 17px;
}

#draw_pile{
	margin-bottom: 30px;
	background-color: red;
}

#discard_pile{
	margin-top: 5px;
	margin-right: 20px;
}

td{
	font-size: 20px;
	border-collapse: collapse;
	padding: 3px;
	font-weight: 200;
}
th{
	font-size: 20px;
	font-weight: 400;
	padding: 3px;
}

.hidden{
	visibility: hidden;
}

.Red{
	background-color: #f25b4c;
}

.Blue{
	background-color: #00aacb;
}

.Green{
	background-color: #7ed097;
}

.Yellow{
	background: #ffe131;
}

.unoInfoOnMsgBox{
	color: green;
}

#change_turn{
	margin-left: 10px;
}

button{
	height: 27px;
	width: 140px;
	font-size: 16px;
	border-radius: 3px;
}

.lightgray{
	background-color: gray;
}

.myCards {
	text-align: center;
	margin: 0 auto;
	height: 180px;
    width: 130px;
    font-size: 90px;
    color: white;
    border-radius: 10px;
    font-family: helvetica;
    font-weight: 400;
    display: inline-block;
}

#RunningColorContainer {
	display: inline;
	color: white;
	border-radius: 4px;
}

#runningColour {
	display: inline;
	margin-left: 80px;
}

#num{
	padding-top: 30px;
}

.playerList{
	color : gray;
}

.current_player{
	color: black;
	font-size: 20px;
}