#list{
	display: none;
	width: 539px;
	margin: 0 auto;
	margin-top: 6%;
	font-family: helvetica;
 	font-weight: 200;
 	padding-bottom: 20px;
}

#winner{
	width: 385px;
	margin: 0 auto;
	margin-top: 6%;
	font-family: helvetica;
 	font-weight: 200;
}

button{
	font-size: 16px;
	width: 218px;
	margin: 0 auto;
	height: 29px;
	font-family: helvetica;
	font-weight: 200;
	border: none;
	border-radius: 3px;
	background-color: lightgray;
	}

.congratulate{
	font-size: -webkit-xxx-large;
}

#winnerName{
	margin-left: 123px;
 	font-size: 33px;
}

.message{
	margin-left: 60px;
 	font-size: 26px;
}

.listButton{
	margin-left: 59px;

}

.home{
	width: 265px;
	margin: 0 auto;
}

.spaceBetweenTwoClass{
	margin-bottom: 20px;
}

.points_heading{
	text-align: right;
}

.inline{
	display: inline-block;
	width: 50%;
    margin-bottom: 20px;

}

.points{
	text-align: right;
}

.heading{
	font-size: x-large;
}

.userInfo{
	font-size: x-large;
}